<%- include("header") %>
<h1 class="project-description">Project Description</h1>
<div class="preject-details">
    <p>This is my second version daily todolist designed for personal use with the applications 
        of EJS, Node.js, Express.js & MongoDB.</p>

    <p>Possible further modications on the projects could have performed on the authentication & security 
        as well as establish the establishment of the functionality to 
        record the historical data of different user.</p>

    <p>If you are interested in the codes as well as the first version of the project, please refer to 
    the corresponding Github <a href='https://github.com/Chris4385/dailyToDoList' target="_blank">repository</a>.</p>
</div>

<%- include("footer") %>